name: Vessel Monitor

on:
  schedule:
    - cron: '*/30 * * * *'
    - cron: '0 8 1 * *'
  workflow_dispatch:

jobs:
  monitor:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.x'

      - name: Install
        run: pip install requests

      - name: Run Monitor Script
        env:
          VESSEL_STATE_DATA: ${{ secrets.VESSEL_STATE_DATA }}
          EMAIL_USER: ${{ secrets.EMAIL_USER }}
          EMAIL_PASS: ${{ secrets.EMAIL_PASS }}
          EMAIL_TO: ${{ secrets.EMAIL_TO }}
          EMAIL_TO_COLLEAGUE: ${{ secrets.EMAIL_TO_COLLEAGUE }}
          EMAIL_ENABLED: "true"
          CALLMEBOT_PHONE: ${{ secrets.CALLMEBOT_PHONE }}
          CALLMEBOT_APIKEY: ${{ secrets.CALLMEBOT_APIKEY }}
          CALLMEBOT_ENABLED: "false"
        run: if [ "${{ github.event.schedule }}" == "0 8 1 * *" ]; then export MODE="report"; else export MODE="monitor"; fi; python monitor.py

      - name: Debug state.json
        run: cat state.json | head -30

      - name: Commit and Push
        run: |
          git config --global user.email "actions@github.com"
          git config --global user.name "GitHub Action Bot"
          git add state.json
          git diff --staged --quiet || echo "No changes to commit."
          if git diff --staged --quiet; then
            git commit -m "Update state.json"
            git push
            echo "State committed and pushed."
          else
            echo "No state changes. Skipping commit."
          fi
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
